.create-schema-form-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-row-gap: 20px;
}

.create-schema-icon {
  margin-left: 20px;
  margin-right: 20px;
}

.input-condition {
  font-family: "Robot", sans-serif;
  font-size: 12px;
  display: inline-flex;
  width: 140px;
}

.create-schema-radio {
  margin-right: 20px;
}
